$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'WNS' 'F1' T HDR
$
  2145 1377 F
$
  'NAME' 1 1 '(...)'
  51   'll.dat'
$
  'NAME' 1 1 '(...)'
  52   'wmask.dat'
$
  'NAME'  1  1  '(...)'  '(...)'
  53   'wdata.dat'
$
$ end of input file
