$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'WND' 'LL' T HDR
$
 longitude latitude
$
$ Variables to use --------------------------------------------------- $
$
$ On 20181030_14  and before
$UGRD_surface   VGRD_surface  
$ On 20181030_15 and after
$UGRD_10maboveground   VGRD_10maboveground 
$
$
 UGRD_10maboveground VGRD_10maboveground
$
$
  'gluv.nc'
$ end of input file
