$ WAVEWATCH III Great Lakes multi-grid input file
$ -----------------------------------------------
$ 2 0 F 3 F F
 1 0 F 2 F F
$
  'glwu' 'no' 'no' 'native' 'native' 'no' 'no' 'no' 'no' 'no'  1  1  0.00 1.00  F
$  'glwu' 'no' 'no' 'native' 'no' 'no' 'no' 'no'  1  1  0.00 1.00  F
$
   RUN_BEG   RUN_END
$
   T  F
$
   OUT_BEG  DTFLD  OUT_END
   FIELDS
$
   OUT_BEG  DTPNT  OUT_END
BUOY_FILE
$
   OUT_BEG      0  OUT_END
$
   RST_TMES   21600  RST_TMEE
$
   OUT_BEG      0  OUT_END
$
   OUT_BEG      0  OUT_END
$
  'the_end'  0
$
  'STP'
$
$ End of input file
$
