$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'ICE' 'LL' T T
$
 285.232 287.995 616 43.22131348 45.71850586 557
$
$  'NAME' 1 1 '(...)'
$  51   'LC_NIC_ICE.ll'
$
$  'NAME' 1 1 '(...)'
$  52   'LC_NIC_ICE.mask0'
$
  'NAME'  1  1  '(...)'  '(...)'
  53   'LC_NIC_ICE.newice'
$
$ end of input file
