$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'ICE' 'F1' T T
$
  289 186 F
$
  'NAME' 1 1 '(...)'
  51   'T_OEBA88_C_KNWC.ll'
$
  'NAME' 1 1 '(...)'
  52   'T_OEBA88_C_KNWC.mask0'
$
  'NAME'  1  1  '(...)'  '(...)'
  53   'T_OEBA88_C_KNWC.newice'
$
$ end of input file
