$ WAVEWATCH-III gridded output input file 
$ ----------------------------------------
TIME DT NT
N
WND HS FP DP PHS PTP PDIR ICE
$
TIME  7 MODNR GRIDNR 0 GTMPLN
$
25 265 2.539703 2.539703 64 25 25 -90 0
$ end of input file
