$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'ICE' 'LL' T T
$
 267.803 284.398 2554 41.002319 49.20119146 1823 
$
$  'NAME' 1 1 '(...)'
$  51   'T_OEBA88_C_KNWC.ll'
$
$  'NAME' 1 1 '(...)'
$  52   'T_OEBA88_C_KNWC.mask0'
$
  'NAME'  1  1  '(...)'  '(...)'
  53   'T_OEBA88_C_KNWC.newice'
$
$ end of input file
