$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
$  'ICE' 'F1' T T
$$
$  2554 1823 F
$$
$  'NAME' 2 1 '(...)'
$  51   'T_OEBA88_C_KNWC.ll'
$$
$  'NAME' 2 1 '(...)'
$  52   'T_OEBA88_C_KNWC.mask0'
$$
$  'NAME'  2  1  '(...)'  '(...)'
$  53   'T_OEBA88_C_KNWC.newice'
$$
$$ end of input file
$$
$$==================================
$ Regular grid
 'ICE 'LL' T T 
$
  267.803253 284.3977785 2554 41.002319 49.20119146 1823
 'NAME' 2 1 '(....)' '(....)' 
 30 T_OEBA88_C_KNWC.newice
$ End of input file
