$ WAVEWATCH-III wind preprocessor input file
$ ------------------------------------------
  'ICE' 'F1' T T
$
  193 157 F
$
  'NAME' 1 1 '(...)'
  51   'LC_BVT_ICE.ll'
$
  'NAME' 1 1 '(...)'
  52   'LC_BVT_ICE.mask0'
$
  'NAME'  1  1  '(...)'  '(...)'
  53   'LC_BVT_ICE.newice'
$
$ end of input file
